<div class="wrapper clearfix">
  <div class="sidebar-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div style="border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(0,0,0,0.1);padding:10px;">
          <%= react_component('Root', { user: @user }) %>
          キーワードから探す
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
      <div class="col-md-12">
        <div style="padding:10px;text-align:center">
          <input type="text" style="border-width:1px;" class="input-sm form-control" name="" id="" placeholder="Ruby on rails">
          <button style="margin-top:10px;" class="btn btn-sm btn-inverse">検索する</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(0,0,0,0.1);padding:10px;">
          カテゴリから探す
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <% @categories.each_with_index do |category, i| %>
        <div class="row" style="padding-left: 5px;margin-bottom:5px;">
          <div class="col-md-4 switch-base">
            <input id="cmn-toggle-<%= i %>" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-<%= i %>"></label>
          </div>
          <div class="col-md-8 switch-note">
            <strong><%= category.name %></strong>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="contents-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <% @books.each do |book| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="row article-item">
                    <div class="col-sm-3 image">
                      <%= link_to image_tag(book.pc_image_url), book %>
                    </div>
                    <div class="col-sm-9 summary">
                      <section class="content">
                        <p><strong><%= book.title %></strong></p>
                      </section>
                      <section class="action">
                        <button class="btn btn-xs btn-embossed btn-primary">
                          <%= t('view.library.put') %>
                        </button>
                        &nbsp;
                        <button class="btn btn-xs btn-embossed btn-info">
                          <%= t('view.library.note') %>
                        </button>
                      </section>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
