<!-- hero -->
<div class="container-fluid">

</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% @categories.each do |category| %>
      <p><%= category.name %></p>
      <% end %>
    </div>
    <div class="col-md-9">
      <% @books.each do |book| %>
      <article class="row article-item">
        <div class="col-md-2 image">
          <%= image_tag(book.pc_image_url, {:class => 'img-responsive'}) %>
        </div>
        <div class="col-md-10 description">
          <p><strong><%= book.title %></strong></p>
          <p><small><%= book.description.truncate(100) %></small></p>
          <button class="btn btn-sm btn-embossed btn-primary">
            <%= t('view.library.put') %>
          </button>
        </div>
      </article>
      <% end %>
    </div>
  </div>
</div>